* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

body {
    background-image: linear-gradient(120deg, rgb(31, 59, 103), #c50b0b);
    color: rgb(255, 255, 255);
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

header, form {
    min-height: 20vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgb(255, 255, 255);
}

form button {
    color: #c50b0b;
    background-color: rgb(17, 17, 128, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: #c50b0b;
    color: rgb(17, 17, 128, 0.5);
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: #ce0303;
    color: rgb(17, 17, 128, 0.8);
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #51ce03;
    color: rgb(17, 17, 128, 0.8);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.tagline {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    text-shadow: 2px 2px rgb(32, 1, 26);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 24px 24px;
    font-family: 'Grape Nuts', cursive;
    font-size: 32px;
    text-shadow: 2px 2px rgb(32, 1, 26);
}

h2 {
    background-color: rgb(17, 17, 128, 0.5);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 16px 16px;
    font-family: 'Rubik Puddles', cursive;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px rgb(32, 1, 26);
}

